*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-page{
  background-color: rgba(0, 128, 0, 0.182);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-page h1{
  color: rgb(0, 128, 38);
  font-size: 20vh;
}


@media (max-width : 640px){
  .first-page h1{
    font-size: 10vh;
  }
}